.inputArea{
	margin: 0px;
	height: 45px;
	width: 95%;
	border-radius: 0px;
	border-width: 0px;
	font-size: 22px;	
}

.inputArea:focus{
	outline: none;
}

.labelArea{
	display: flex;
	margin: 0px;
	height: 20px;
}